<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="NCDApp.dal.Properties.Settings.NCDBConnectionString"
            connectionString="Data Source=GONZALEZ-PC;Initial Catalog=NCDB;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>